<div id="new-person-modal">
  <form id="new-person" action="#" method="post">
    <fieldset>
      <dl>
        <dt>
          <label for="name">Name</label>
        </dt>
        <dd>
          <input type="text" name="name" id="name" required>
        </dd>
        <dt>
          <label>Favorite Colors</label>
        </dt>
        <dd>
          <input type="text" name="color1" id="color1" required>
          <input type="text" name="color2" id="color2" required>
          <input type="text" name="color3" id="color3" required>
        </dd>
      </dl>
    </fieldset>
    <fieldset>
      <button class="btn-add" type="submit">Add</button>
      <button class="btn-cancel" type="cancel">Cancel</button>
    </fieldset>
  </form>
</div>